<h1 class="current_category"><%= params[:category] %></h1>

<% if @pizzas.count == 0 %>
    <h1>There are no Pizzas currently in this categroy</h1>
<% else %>
    <% @pizzas.each do |pizza| %>
        <h2><%= link_to pizza.title, pizza_path(pizza) %></h2>
    <% end %>
<% end %>
